[2017-09-03 15:44] cyborgdoom opened #1 "Release Empty"
Fix your release package there is nothing in there. It doesn't install anything

[2017-09-22 11:06] ashish-chopra commented on #1
I am sorry, yes release is empty by purpose. I was testing some bits of using it. I found release is not importable in angular CLI project due to some compilation issues. So working on those.

[2017-10-04 14:24] askdrgui commented on #1
Do you have any idea when the release package is available?

[2017-10-04 15:32] ashish-chopra commented on #1
In next couple of weeks, i will fix the issues and make it available.

Thanks
Ashish

[2017-10-16 06:39] ashish-chopra commented on #1
Hello guys @cyborgdoom  and @askdrgui, I have just released 1.0.0-beta package in npm. Try it and post some issues you encountered. after settling up few more things, stable version will be released.

Thanks
Ashish

[2017-10-17 14:24] jchri853 opened #2 "Hide Gauge Value Text"
Hello, thanks for this fantastic library. Curious if there is a way to remove the text for the gauge value on this component? (See Photo)
![screen shot 2017-10-17 at 9 22 33 am](https://user-images.githubusercontent.com/3412424/31670323-f5f1f118-b31c-11e7-8982-0303a12cdc63.png)

[2017-10-17 14:54] jchri853 commented on #2
Might have spoken too soon. Found a solution with css

CSS
[code]
Markup

[code]

![screen shot 2017-10-17 at 9 54 06 am](https://user-images.githubusercontent.com/3412424/31672073-24747fd4-b321-11e7-97a9-b0e590c27084.png)

[2017-10-17 14:54] #2 closed, assigned to nobody

[2017-10-18 04:29] ashish-chopra commented on #2
Well the way you handled is perfect as per the current solution. But for future i want to templatise the gauge Text so that user can customize or remove it as per needs.

[2017-10-24 05:14] jculverwell opened #3 "Link to demo does not work"
https://github.com/ashish-chopra/ngx-gauge

[2017-10-26 20:42] r-havelka opened #4 "forgotten console.log"
In *gauge.ts line 105* there is a `console.log('thick value', this.thick);` that wasn't removed. It's nothing major but it is annoying seeing it in my console all the time. If you could remove it, that would be great.

[2017-10-27 08:40] ashish-chopra commented on #4
Sure, i will remove that in subsequent releases. But, in case if you can send a pull request, i will be more than happy!!

Thanks!

[2017-11-15 15:47] barretodaniel opened #5 "Feature Request: Reverse Scale"
I was wondering if you had any plans to allow for the scale of the gauge to be reversed. I have a use case where as the value decreases I'd like the gauge to filled.

[2017-11-16 02:38] saitejpoosarla opened #6 "Not able to load ngx-gauge directive"
After importing NgxGaugeModule(imported after BrowserModule), trying to use the directive ngx-gauge throws the below error in my component.

`Error: Template parse errors:
'ngx-gauge' is not a known element:
1. If 'ngx-gauge' is an Angular component, then verify that it is part of this module.
2. If 'ngx-gauge' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this

[2017-11-16 03:37] saitejpoosarla commented on #6
Did not load the Module in the correct hierarchy. Closing Issue.

[2017-11-16 03:37] #6 closed, assigned to nobody

[2017-11-16 03:59] #1 closed, assigned to nobody

[2017-11-16 04:01] ashish-chopra commented on #3
Yup, Demo is not ready yet. But you can follow README, or alternatively you can see the demo of my angular-gauge repository which is the same ngx-gauge but for Angular 1.x versions at https://ashish-chopra.github.io/angular-gauge

[2017-11-16 04:03] ashish-chopra commented on #5
Hi @barretodaniel

I can't commit anything on bringing reverse scale feature, neither i tried it myself with Gauge. Actually currently i have many things on my plate to finish before i get on working on new feature.

But i will take care of it in future. But by any chance you will able to add that feature, don't forget to send the pull request!

Why don't you just mention one of the concrete use c

[2017-11-26 14:17] ashish-chopra opened #7 "Value is always redrawn from 0"
Can we do something so that value should draw from its last position rather than from zero always.

[2017-12-04 14:39] SpartanNico94 commented on #4
You can comment the line that write the thickness in the console editing the file in your node_modules folder.

[2017-12-04 14:56] r-havelka commented on #4
I can, but that only works on my local machine. All of my coworkers and our dev environments do their own independent `npm install` and it would be a hassle to be constantly commenting it out. Deleting it in the library would be a much cleaner solution for everyone using the library.

[2017-12-04 15:39] ashish-chopra commented on #4
ok @whooguyy, I will do it by tomorrow. I am superly occupied right now.

[2017-12-07 15:11] SpartanNico94 opened #8 "gauge threshold bug"
Hi,
I'm using ngx-gauge in my angular application. I have a gauge which max value is 200 and current value is 150 with these thresholds
[code]

In this case, value is greater than 100 but the second threshold is chosen. If i change from 100 to 99 the right color is selected. This is very strange, can someone help me?

Thanks.

[2017-12-07 16:44] SpartanNico94 commented on #8
I've checked the source code and when you call NgxGauge.prototype._getForegroundColorByRange you sort thresholds and then you reverse and select the first. Now, suppose you are using my thresholds... if you call .sort() you get

[code]
This is because you are sorting by strings and not using real number values, so 100 comes before 80.
To resolve this you should sort by real number. I've changed yo

[2017-12-08 04:24] ashish-chopra commented on #8
Issue Fixed.

Please update to the new version `v1.0.0-beta.1`.

I will soon release a final version `1.0.0` with an upgrade to ng 5.

[2017-12-08 04:24] #8 closed, assigned to ashish-chopra

[2017-12-08 04:25] ashish-chopra commented on #4
Console log removed.

Update to new version `1.0.0-beta.1`

[2017-12-08 04:25] #4 closed, assigned to nobody

[2017-12-09 10:00] SpartanNico94 commented on #8
Thank you very much

[2017-12-20 14:27] SpartanNico94 opened #9 "[Enhancement] Show value as string"
I'm using gauges to show values about something like "usage", for example "10/15Gb used". It could be useful to set shown value as string so will be possible to show "16k/20k" because if values are very large you can see it followed by "..." and it isn't good i think.
What do you think about this?

[2017-12-31 07:06] jculverwell commented on #7
Thank you, love this component.  Just wondering if you had made any progress on this issue?  If not, is there a way we can turn off the animation.  I've tried setting duration to 0 but it makes the line invisible.  Setting the duration to 1 almost works but it makes it a bit janky.

Thanks again

[2018-01-02 13:31] ashish-chopra commented on #7
Yes, I have got a solution. It requires changes in the source code, no outer workarounds can work. I will be adding it today, will release this week positively.

[2018-01-02 22:39] jculverwell commented on #7
Thank you, looking forward to the next release.  Thanks again

[2018-01-08 20:09] gsteen commented on #7
Hi, any progress on this?

[2018-01-09 02:50] ashish-chopra commented on #7
Yes, working on it. I am busy with many parallel works, so hopefully, complete it if no major error occurred.

[2018-01-10 17:36] ashish-chopra commented on #7
Hi All,

This issue has been resolved in v1.0.0-beta.2 version which is just released and available on npm.
Update your package of ngx-gauge as soon as possible to see the gauge not redrawing from 0 on every update.

Let me know what you think of it?

Cheers
Ashish

[2018-01-21 18:45] num3robis opened #10 "Problem with example from read.me not working in ionic"
Hi i'm doing exactly the code you gave in the read me file. But nothing appears. Even when i hard code the data in the html only the value is working, but no gauge.
Please help me figure this out. Do you think your module works on ionic 3 ?

[2018-01-21 18:52] ashish-chopra commented on #10
Thanks for trying the library and providing your interesting findings.

Actually, I have no idea of Ionic, therefore never kept it in mind while writing this library. But If you can help me to identify what needs to be taken care while developing angular code that works out of the box with Ionic, I will look into adding those changes here.

Regards
Ashish

[2018-02-03 22:45] meenakarthik commented on #10
I'm using the gauge from the example in Ionic fine. Are you importing the NgxGaugeModule not only in the app.module.ts but also in whatever component/page.module.ts that you are using the gauge in?

[2018-02-05 20:14] jchri853 commented on #10
@num3robis I can confirm it works in an ionic3 application.  Here is an example of how I am using one. Make sure you have atributes specified in your .ts component

.TS
    gaugeType = "full";
    gaugeLabel = "";

HTML
`   <ngx-gauge
                   [type]="gaugeType"
                   [value]="outerGaugevalue"
                   [thick] = 5
                   [min] =  0
                   [m

[2018-02-05 20:16] jchri853 commented on #10
![screen shot 2018-02-05 at 2 15 33 pm](https://user-images.githubusercontent.com/3412424/35826677-0ac0747a-0a7f-11e8-9461-ca7194731d9f.png)

My only request (If possible :D)   To make the gauge lines vector, they look a little pixelated on retina devices.

[2018-02-14 14:32] SpartanNico94 commented on #9
@fernandocode thanks for your work. Your code works very well!

[2018-02-14 16:06] fernandocode commented on #9
I'm glad that worked for your case, too @SpartanNico94 .

Just wait for the PR to be analyzed and accepted in the official project.

[2018-02-14 16:51] SpartanNico94 commented on #9
Sure, now i've tried it and i confirm that works as expected. When your code will be accepted by @ashish-chopra I'll update the original package. Thanks again

[2018-02-15 07:30] #7 closed, assigned to ashish-chopra

[2018-02-15 09:14] ashish-chopra commented on #9
Thanks everyone for your contribution.

@fernandocode I checked the pull request you sent. It is perfect for the use case you implemented for. However, I am looking for the more general use case. Additionally, I do not want to lose the flavor of declarative programming of Angular.

I propose API as following:

[code]

In this API, `value` provides the numeric value for rendering the gauge. and `<n

[2018-02-15 09:48] SpartanNico94 commented on #9
In my opinion, I would choose the first option because in this way you'll give to the developers the flexibility to render the gauge as he/she wants, instead using a <span> that inline the code. Am I right?

A very nice feature related to the gauge rendering, would be that the gauge should be drawn around the text in order to avoid the dots. I don't know if it is possible, but an elegant way to av

[2018-02-15 13:21] fernandocode commented on #9
@ashish-chopra, you're right, this would be a more efficient and elegant way of doing this kind of treatment, in angular mode.

I believe it would not cause any limitation, on the contrary it would make it even more flexible, like using pipes or even called training methods.

Another point that I think relevant to comment on this implementation is the possibility that append and prepend can also b

[2018-02-15 13:34] fernandocode commented on #9
@SpartanNico94, about the three points in long texts.

Everything is based on the size of the canvas from the size attribute (which by default is 200). So the text will have a limited size, so I believe that the three points is an elegant option, but in counterpoint if the implementation is carried out as suggested by @ashish-chopra  it will be possible to add elements and styles around the text,

[2018-02-15 13:36] SpartanNico94 commented on #9
And maybe the label can receive the same possibility. What do you think of that?

Actually append and prepend are strings, so you can handle them if needed. For example i have a list of gaugesProperty and I render gauges in a for loop. The only problem is with "value" property

[2018-02-15 13:37] SpartanNico94 commented on #9
in fact i've extended your code adding a new attribute called "font_size" that renders text using the provided size and using 'px' as unit.

[2018-02-15 15:42] ashish-chopra commented on #9
@fernandocode Yes, I have started on this. But if you can send a PR, that would be good. Make sure to remove examples from the intial repo, else I will not be able to take it. If you want to show an example, try stackblitz, that is what I am exploring these days! It's simple just transfer your code to it and it will do the rest.

Yes, I have thought of all of the following:
1. ngx-gauge-prepend
2.

[2018-02-15 16:00] ashish-chopra commented on #10
Thanks @jchri853 I will look into pixelated issue. I found some useful resource https://developer.mozilla.org/en-US/docs/Web/API/Window/devicePixelRatio to incorporate and test with gauge to support retina displays.

By the way, how did you managed to get two concentric gauges with my library, I am curious to know!!

Cheers
Ashish

[2018-02-19 13:11] fernandocode commented on #9
#12 available @SpartanNico94

[2018-02-19 17:11] fernandocode commented on #10
@num3robis ,

The library works perfectly with ionic.

I am using it in my project, with no problems and follows an [online example](https://stackblitz.com/edit/ionic-vb84cx?file=pages%2Fhome%2Fhome.html) for verification.

[2018-02-19 17:14] fernandocode commented on #10
@jchri853  It may be interesting to open a new issue for your problem on retina screens.

And as has already been asked, how have you done to present gauges with this library?

[2018-02-20 03:01] #10 closed, assigned to nobody

[2018-02-20 03:03] ashish-chopra opened #13 "Gauge looks Pixelated on Retina Display"
<img src="https://user-images.githubusercontent.com/3412424/35826677-0ac0747a-0a7f-11e8-9461-ca7194731d9f.png">

[2018-02-21 09:11] SpartanNico94 commented on #9
Thanks for your work @fernandocode @ashish-chopra. I really appreciate your support. I'll update this package asap.

[2018-02-21 19:16] jchri853 commented on #10
@fernandocode  @ashish-chopra its not "pretty" but it worked for me. Enjoy

https://stackblitz.com/edit/ionic-jl3xc2

[2018-02-28 13:27] Powkachu opened #14 "Animation interrupted causes a bug"
Hello,

When we interrupt a gauge animation, for example when we navigate to another page before the animation ended, an error is displaying:
<img width="736" alt="screen shot 2018-02-28 at 14 16 38" src="https://user-images.githubusercontent.com/7096747/36789642-85f6c764-1c92-11e8-837f-d987bde8ba97.png">
I think the problem comes because the component (where the gauge is used) is destroyed and do

[2018-02-28 13:57] fernandocode commented on #14
You could create an example of the problem at https://stackblitz.com/fork/angular?

[2018-03-01 21:35] victorj2307 commented on #14
Same issue here, tried to reproduce on stackblitz but couldn't import NgxGaugeModule :disappointed:

My gauge is inside a modal and refresh the value using EventEmitter, nothing complicated.

HTML Code:
[code]

Component code:
[code]

[2018-03-05 04:35] ashish-chopra commented on #14
Hi @victorj2307

Try to add the exact version of ngx-gauge@1.0.0-beta.2 in stackblitz and after that you will be able to import NgxGaugeModule. Since it is in beta right now you have to specify exact version during npm install in Stackblitz.

@Powkachu, @victorj2307  I will look into the issue.

[2018-03-05 11:36] fernandocode commented on #14
@victorj2307 , If you want to set the example, I have prepared a [basic Stackblitz with ngx-gauge configured](https://stackblitz.com/edit/angular-kaonzk).

[2018-03-05 15:01] victorj2307 commented on #14
Hi, finally I set the example on Stackblitz (https://stackblitz.com/edit/angular-yncdvp)

There is a "Detail" button you should click to open a bootstrap modal, the modal contains the Gauge. To reproduce the bug you should open de modal multiple times and like the third time the error appears in the Browser Console. I sometimes also found the error when I closed the modal by clicking outside the m

[2018-03-05 17:57] fernandocode commented on #14
I found the probable problem.

The gauge after being destroyed can still be called by the animation, and the context canvas has no value since it is invalid in the `_destroy()` method.

So what I did, was to test the `_context` (`if (this._context)`) before trying to access its attributes and methods. So when attempting to use `_context `after it has already been invalidated, nothing will be accom

[2018-03-05 18:27] victorj2307 commented on #14
I just finished testing your changes (test _context) and it solves the problem.
I'll wait for the changes to be released in a new version.

Thank you for your support.

[2018-03-05 19:26] fernandocode commented on #14
@ashish-chopra , where should I send the PR with this change, from the `master `branch or `feature/gauge-directives`?

And analyzing the existing PR, something has already been submitted with an attempt to cover this #15 , except that it is not checking everywhere where `_context `is being used.

[2018-03-08 15:47] ashish-chopra opened #16 "Require an option to hide reading labels of the gauge completely"
https://stackblitz.com/edit/angular-rbpj1d

[2018-03-08 15:54] ashish-chopra commented on #14
Hi @fernandocode, if you wanted to send a PR, create a branch from master and send a PR there. Always follow this convention.

Secondly, Can you tell me where all you did the changes in the ngx-gauge code regarding checking the context. I am assuming you only modified _clear() method. Am I right?

Also, I am not sure, why i wrote `this._clear()` inside `ngOnDestroy()`. Quite strange to me!!  But w

[2018-03-08 15:57] ashish-chopra commented on #9
I am reopening the issue to keep track of backlog items to be merged in master branch before next release.

[2018-03-08 17:16] ashish-chopra commented on #14
Hi @fernandocode and @victorj2307

Thanks for creating the stackblitz with exact problem statement. I now able to test my changes blazingly fast. Checkout my version of changes as I mentioned in the previous comment here: https://stackblitz.com/edit/angular-kuveqx

Let me know your feedback, I will incorporate these changes then!

[2018-03-08 17:52] fernandocode commented on #14
@ashish-chopra, I think this is the correct problem because it removes the cause of the problem, the previous solution was a "remedy for the disease" that is the "vaccine for disease", :laughing:

[2018-03-08 18:00] victorj2307 commented on #14
Hi @ashish-chopra
I tested your solution and it's working fine for me.

Thanks for your solution and support.

[2018-03-10 06:41] ashish-chopra commented on #14
Hello Everyone,

The issue has been fixed and merged into master and published as ngx-gauge@1.0.0-beta.3
You can update your packages. the major version release is coming shortly in few days.

Thank you all for your collaborative effort in reproducing and solving the issue.

Commit ID: 96fdb1a3839148942cfca63732c1ba1c9b631666

And this is the updated stackblitz using the ngx-gauge package from npm

[2018-03-10 08:11] ashish-chopra commented on #9
Code merged in master branch and new library build published to npm. download the new version
ngx-gauge@1.0.0-beta.4 for these features.

Checkout README for more details on using custom directives for display text.

[2018-03-12 11:48] fernandocode commented on #3
It would be interesting to remove the demo link maybe while it does not work. This causes an impression of abandonment, at least to me.

Perhaps replacing it with a simple stackblitz, for now.

[2018-03-13 01:02] victorj2307 commented on #14
@ashish-chopra Tested and working fine :wink:

[2018-03-13 12:39] andyrichardson opened #17 "Custom directives not being imported (ngx-gauge-*)"
First off, thanks for the library - it's been a huge help.

## About
I'm currently having an issue where I am able to use the _ngx-gauge_ component, but the associated directives do not work.

## Scope
The following works without a problem

_component.html_

    <ngx-gauge [cap]="'round'" [value]="item.value"></ngx-gauge>

_module.ts_

    import { NgxGaugeModule } from 'ngx-gauge'

    ...

    i

[2018-03-13 13:01] ashish-chopra commented on #17
Hi @andyrichardson

Make sure you are using ngx-gauge@1.0.0-beta.4 version. I released it in there.
And, check this out, its working fine for the said version: https://stackblitz.com/edit/angular-gnpj9l

Cheers
Ashish

[2018-03-19 16:35] hassondaniel opened #18 "Add option to size fit parent"
We need to add this to control the size if the parent size changes

[2018-03-20 20:58] r-havelka commented on #18
you can do that with css.

[code]

[2018-03-23 15:26] XaviCastillo opened #19 "Get the end of the radius"
How can I get the end of the progress bar of the gauge to set an additional element as a ball for example or an icon, is possible to get this coordinates.

Regards

[2018-03-27 08:28] isoengas opened #20 "Value drops to 0 after animation"
I have an strange effect where my gauge animation drops to 0 when the value is changed. I was able to reproduce the effect (I forked an existing stackblitz from another issue :)
https://stackblitz.com/edit/angular-n1vmyv?file=app%2Fapp.component.ts

The effect only occurs the first time when the value changes asynchronously from 0 to another value and it only affects the gauge bar, but not the tex

[2018-03-27 11:44] andyrichardson commented on #17
Hey @ashish-chopra, thanks for the response.

That's likely the solution, I'll reopen if that isn't the case.

[2018-03-27 11:44] #17 closed, assigned to nobody

[2018-04-11 10:55] bfheythem opened #21 "how to modify the foregroundColor"
I couldn't find a way to edit the foregroundColor and backgroundColor
when I affect a value to them , it tells me that rgba( ...) unknown
please help me

[2018-04-11 11:19] fernandocode commented on #21
You could create an example of the problem at https://stackblitz.com/edit/angular-kaonzk?

[2018-04-12 11:29] bfheythem commented on #21
I just want to change the color of the gauge , specify my own color

[2018-04-12 12:58] fernandocode commented on #21
@bfheythem, something like that: https://stackblitz.com/edit/angular-xweu2r?file=app/app.component.ts ?

[2018-04-12 15:35] ashish-chopra commented on #21
@fernandocode Thanks for sharing an example stackblitz.

@bfheythem You can checkout the example shared by @fernandocode. In case you were trying to do something different, let us know here with snapshot and reproducible stackblitz setup.

Ashish.

[2018-04-12 15:36] #14 closed, assigned to nobody

[2018-04-12 15:36] #9 closed, assigned to nobody

[2018-04-12 15:38] ashish-chopra commented on #19
No, there is no way to get the end of the radius in this library.

[2018-04-30 13:13] vignesh007vicky opened #23 "guage type full not working"
home.component.html

<ngx-gauge
           [type]="gaugeType"
           [value]="gaugeValue"
           [label]="gaugeLabel"
           [append]="gaugeAppendText"

</ngx-gauge>

home.component.ts

import { NgModule } from '@angular/core';
import { ChartsModule } from 'ng2-charts/ng2-charts';
import { BsDropdownModule } from 'ngx-bootstrap/dropdown';

import { HomeComponent } from './home.componen

[2018-05-03 11:07] ShuklaAmitKumar commented on #20
In constructor you are setting progress to "0".
   this.selectedBatch = {
      progress: 0
    }
So when your page load for the first time it's set value to "0". try to pass dynamic value

[2018-05-03 11:09] ShuklaAmitKumar commented on #23
working for me

[2018-05-03 13:13] isoengas commented on #20
After the first setTimeout call there is a discrepancy between the gauge label (85) and the bar (0), so I consider this a bug in the component. The stackblitz is just a simple case to demonstrate the bug, my case is quite different.

[2018-05-07 10:43] ilivestrong commented on #20
Same issue I have.. Did anyone able to resolve it?

[2018-05-07 14:57] nivu opened #24 "Gauge Meter is not Updated"
While updating the value, only the label alone gets updated, drawing is not happening.

[2018-05-07 15:18] nivu commented on #24
Value and Meter is not dynamically updated

[2018-05-07 15:27] nivu commented on #20
Me too facing this issue. Please update if you find any solution?

[2018-05-07 17:22] fernandocode commented on #24
@navneetnivu07 You could create an example of the problem at https://stackblitz.com/edit/angular-kaonzk?

[2018-05-07 20:02] nivu commented on #24
@fernandocode In the dev environment, the value alone is updated but the bar didn't update the new value.
But after creating a production build and deploying it works fine.

[2018-05-07 20:04] nivu commented on #24
@fernandocode I think some others also facing this issue! Check issues #20(Value drops to 0 after animation). I faced the similar problem.

[2018-05-07 20:11] nivu commented on #20
@ilivestrong I faced this issue in dev environment, but after production build, it is working fine. https://stackblitz.com/edit/angular-uhmnnt

[2018-05-08 00:46] ilivestrong commented on #20
But what's the reason? @navneetnivu07

[2018-05-08 09:57] ShuklaAmitKumar commented on #21
How to change color for gauge value and label ???

[2018-05-08 10:02] ShuklaAmitKumar opened #25 "Adding more then one label inside gauge"
What if i want to add more than one label inside gauge???

[2018-05-08 16:02] bfheythem opened #26 "how To change the value of the AppendedText font"
I need to make the text smaller to make it fit inside the gauge :
![image](https://user-images.githubusercontent.com/22716581/39767815-8486b7bc-52df-11e8-85a4-5b1f380dfc1d.png)

I managed to find where it's located using inspect but don't know how to change it in the code so it would persist  :
![image](https://user-images.githubusercontent.com/22716581/39768537-7f589326-52e1-11e8-9225-ba8175ceaf1

[2018-05-08 16:38] fernandocode commented on #26
I believe that the section ["Custom Directives for display text"](https://github.com/ashish-chopra/ngx-gauge#custom-directives-for-display-text) can help you solve this.

Example: https://stackblitz.com/edit/angular-n2fxlz?file=app%2Fapp.component.html

[2018-05-09 08:55] bfheythem commented on #26
@fernandocode  thanks for your help  it worked

Now I want to make the gauge value updated automatically , it gives a real time consumption that is acquired via an API :
what I did is that the value is displayed but the value wont change only if I refresh the page
how can I do that ?
if you want I can share the code for the service I implemented

[2018-05-09 13:07] fernandocode commented on #26
@bfheythem,

The Gauge works just like any other angular component, you just need to update the value of the property that the rest angular is responsible.

[Here's a simple example of how the value would be updated.](https://stackblitz.com/edit/angular-ncprzt?file=app/app.component.ts)

This type of doubt can be better remedied by asking the [angular community of stackoverflow](https://stackoverf

[2018-05-09 16:43] ashish-chopra commented on #26
Thank you @fernandocode for answering the question with a superb stackblitz example!
Closing this issue now, as the query has been solved.

@bfheythem In case you have questions on usage you can find answers in README as well as use StackOverflow community. Feel free to discuss anything you want.

Cheers
Ashish

[2018-05-09 16:43] #26 closed, assigned to nobody

[2018-05-09 16:47] ashish-chopra commented on #25
@ShuklaAmitKumar

You can use [Custom Directives for Display text](https://github.com/ashish-chopra/ngx-gauge#custom-directives-for-display-text) and can put regular HTML inside it which can span multiple lines. But keep in mind that you have to manage its CSS on your own.

[code]

[2018-05-09 16:50] ashish-chopra commented on #24
Closing this issue. As pointed out as duplicate of #20

[2018-05-09 16:50] #24 closed, assigned to nobody

[2018-05-09 16:51] ashish-chopra commented on #21
@ShuklaAmitKumar You need to use custom directives and pull up values to be displayed there and use your own CSS classes to update it.

[2018-05-09 16:51] #21 closed, assigned to nobody

[2018-05-10 17:50] pixelsyndicate commented on #3
Yes. I'm a fan of the Angular 1.x version, but not having a demo available here is causing me some trust issues... like perhaps i'm looking at the wrong libraries. I've taken the form from the first demo and converted it to be used in a demo for this version, but I believe the foreground / background isn't being implemented for whatever reason. getting some node exceptions for NgxGauge._getForegro

[2018-05-10 18:40] pixelsyndicate commented on #3
I've completed a demo for this library using the original Angular 1.x version HTML brought in to demo this angular 4+? version.  You can get the example from https://github.com/pixelsyndicate/Angular-xGuage-Playground

[2018-05-10 20:11] fernandocode commented on #3
Great job @pixelsyndicate, it was perfect, could be put on the demo link @ashish-chopra. It would also be nice if we could make a demo page available for easy access! :+1: :punch:

[2018-05-13 03:41] ashish-chopra commented on #3
Thank you @pixelsyndicate for your efforts. I was in the middle of converting angular 1.x demo to the new angular track and your effort for playground section is really a great help. Right now I am trying to run it on my machine. But I will use it in the actual demo website with proper credits.

Thanks a lot :)
Ashish

[2018-05-18 20:33] yacinebenouniche commented on #18
this is not working, css error: colon expected

[2018-05-28 16:35] YacineGameDev opened #27 "Adding ticks, min and max value on the gauge"
it would be very nice if it was possible to display the min and max value and also ticks ( let's say every 10 km/h for example)

[2018-05-28 18:27] fernandocode commented on #27
@Observablerxjs, Can you give us an example of what you would like to do? I could not understand in his explanation, could it represent the expected result visually?

[2018-05-28 18:33] YacineGameDev commented on #27
![3z5uo](https://user-images.githubusercontent.com/23528812/40626014-e7a46d86-6283-11e8-8e93-f27afdec9c80.png)
Something like this, with ticks and the min and max value displayed

[2018-05-29 02:46] ashish-chopra commented on #27
Ticks could be an acceptable feature, but putting a needle is not acceptable. Because these types of gauges already exist on the Internet. I do not want to recreate it. Tick or balloons (like Angular Material) on hover is a usability enhancement which I can think of.

The work the needle performs on the given snapshot is done by an analog circular arc with a forgroundColor growing/shrinking on the

[2018-05-29 13:02] superamadeus opened #28 "HighlightJS dependency"
`angular2-highlight-js` seems like an unnecessary and unused dependency. Is there some reason it's included?

[2018-05-29 13:34] YacineGameDev commented on #27
I totally agree with you, it was just an example to show the ticks and the ballons. Those two would give a big improvement to the gauge.

[2018-05-30 15:36] YacineGameDev opened #29 "gauge display not updating when tab is not active"
I just figured that the gauge is not updating the display when we change tabs.

If you have: `
thresholds =  {
            '20': {color: 'orange'},
            '30': {color: 'orangeRed'},
            '40': {color: 'red'}
        };`

For example if the value of the gauge is 20, you change to another tab for 1-2 minutes and you come back then the displayed value is 50 but the color of the gauge is

[2018-05-30 17:28] ashish-chopra commented on #29
Kindly reproduce the issue in a stackblitz and share here.

[2018-05-30 19:34] YacineGameDev commented on #29
I realized that the issue was in my code, I wasn't changing in a proper manner the value of the gauge. The problem is fixed.

[2018-05-30 20:25] YacineGameDev commented on #29
Actually I thought it was fixed, here is a stackblitz for this issue: https://stackblitz.com/edit/angular-z9ck3s

to see the issue you have to:
1 - click on "Open in New window" in the top right corner
2- leave the tab and go to another one for like 30 seconds/ 1 minute
3- come back to the tab and you'll notice the issue

![capture](https://user-images.githubusercontent.com/23528812/40746806-6204b

[2018-05-31 10:32] isoengas commented on #29
Could this be related to issue #20? The gauge bar value depends on the animation being succesfully executed, but when in the background tab, the browser does not execute the animation and the gauge bar keeps the previous value..

Just guessing..

[2018-05-31 13:15] YacineGameDev commented on #29
So is there a way to execute the animation even in the background tab?

[2018-05-31 13:56] YacineGameDev commented on #29
Here is a gif showing the issue: (in the black screen i switched to another tab)

![ezgif com-resize](https://user-images.githubusercontent.com/23528812/40786303-bd28f090-64b8-11e8-84a4-d3d14c12c5c3.gif)

[2018-05-31 16:56] ashish-chopra commented on #29
You mean to say, when value updates the gauge travels to the actual value range but return to original position. Can you please share the reproduced code for this issue on stackblitz?

[2018-05-31 17:06] YacineGameDev commented on #29
Already did, in this comment : https://github.com/ashish-chopra/ngx-gauge/issues/29#issuecomment-393306471

[2018-06-01 12:41] fernandocode commented on #29
I added a copy of the [ngx-gauge component in the example](https://stackblitz.com/edit/angular-zntvbh?file=src%2Fngx-gauge%2Fgauge%2Fgauge.ts) to remove the animation and find out if the problem is caused by the animation (which I think it is), I just did not have the time (nor ability) to convert canvas update logic, without the animation, so if someone wants and can do it, and share here the res

[2018-06-01 15:09] YacineGameDev commented on #29
I think i may have found the issue, it's the call of requestAnimationFrame in the _create function:

`self._animationRequestID = window.requestAnimationFrame((timestamp) =>{
        startTime = timestamp || new Date().getTime();
       animate(timestamp);
      })`

I noticed that when the tab is inactive ( background tab) the function `animate(timestamp)`, used as a callback in the requestAnimati

[2018-06-01 19:08] fernandocode commented on #29
I find it interesting to put the option to activate or deactivate animations, even for performance reasons. (Nice work @Observablerxjs :clap:, could include, try to submit this as PR).

But in addition it is important to identify the cause of the problem and verify a possible solution for the background animations.

[2018-06-04 06:33] vinothvarun94 opened #30 "Adding threshold marker,min,max value"
it would be more helpful if u add threshold marker,min,max values in gauge and it would be a great addition...

[2018-06-04 13:48] YacineGameDev commented on #30
I think this issue is related to #27, isn't it?

[2018-06-05 04:50] vinothvarun94 commented on #30
yes, nearly.. i m in need of setting labels (threshold).

[2018-06-05 13:15] YacineGameDev commented on #29
@fernandocode is there a way I can use the version with the animation option (#31) ? Or  do I have to wait for the pull request to be checked and approved?

[2018-06-05 13:49] fernandocode commented on #29
@ashish-chopra  will have to approve your PR, and still release a next version with it.
But while this does not occur, in another situation I send a PR from some library I need the change to my implementation I create a Fork and do the implementation (create a package with ng-packagr (there is a script in that library to generate the package: `build:lib`)). You do not even need to do the publishin

[2018-06-05 13:58] YacineGameDev commented on #29
ok thanks, it's working :smiley:

[2018-06-05 15:27] isoengas commented on #29
Anyone willing to try this?

https://stackblitz.com/edit/angular-wzixgj?file=src/ngx-gauge/gauge/gauge.ts

Looks like it's working fine for me... just some minor changes in the animate function

[2018-06-05 16:05] YacineGameDev commented on #29
yees it's perfect! Good Job @isoengas :clap: :clap:

[2018-06-05 17:00] ashish-chopra commented on #28
It is added for building the demo website which is in progress.

[2018-06-05 17:00] #28 closed, assigned to nobody

[2018-06-05 17:03] ashish-chopra commented on #30
@vinothvarun94 Right now there is no support to show labels and I am also not planning to add in near future. If you feel to contribute, send a pull request for review. However, your feature request is same as #27, therefore closing it and will track it on 27.

Thanks
Ashish

[2018-06-05 17:03] #30 closed, assigned to nobody

[2018-06-05 17:04] #25 closed, assigned to nobody

[2018-06-05 17:11] ashish-chopra commented on #23
close the `<ngx-gauge>`  tag with closing `</ngx-gauge>`.

[2018-06-05 17:11] #23 closed, assigned to nobody

[2018-06-05 17:13] #16 closed, assigned to nobody

[2018-06-05 19:02] superamadeus commented on #28
This gauge library is the best out there (in terms of integration w/ Angular 2+). Would it be possible to separate the demo site dependencies from the library's dependencies so that consumers of this project don't have to worry about unneeded dependencies?

[2018-06-06 10:22] MaTaDoRcpe opened #32 "Use value from firebase"
I want to use data from firebase set to [value]
Help me please.

my code
home.ts
`
myitems: FirebaseObjectObservable<any[]>;
this.myitems= this.fbd.object('/Arduino');`

[2018-06-06 10:23] dinohorvat commented on #20
Same problem... So if you have dynamic value (which everyone does), this is useless

[2018-06-06 10:28] #32 closed, assigned to nobody

[2018-06-06 10:49] bfheythem opened #34 "cannot affect a variable value to the thresholdConfig object"
I am trying to create a thresholdConfig where the specified values are affected from certain variable in my class
It doesn't work apperently the object only accepts values (string/number) , but fails to parse the value of a variable

[2018-06-06 11:21] isoengas commented on #29
I'll try to make a PR with my changes later today. I think this fixes also issue #20 (which I opened some time ago)

[2018-06-06 13:48] YacineGameDev commented on #34
I created a stackblitz with what I understood from your request: https://stackblitz.com/edit/angular-chi1mt
here the values of the thresholds are variable that can be changed.

[2018-06-07 16:05] AcmeEngineering commented on #29
@ashish-chopra  can you consider approve @isoengas's PR #35 and publish the new version on NPM because it really fix this bug. thanks

[2018-06-08 17:01] ashish-chopra commented on #29
Thank you guys for solving the issue. I will take this PR next week for review.

[2018-06-19 13:09] YacineGameDev commented on #29
any updates about the PR @ashish-chopra ?

[2018-06-20 14:15] tlhsmeenk opened #36 "Updating gauge value is causing a flicker on safari"
The gauges are working great on chrome but there seems to be a visual issue while updating the value of the gauge on safari (v11.1). There's some sort of flickering going on (see https://stackblitz.com/edit/angular-aeuw9o). This stops after removing the call to __clear()_ in __update()_ though I haven't really looked into why this is :-) Not sure if there's an issue or I'm making some sort of mist

[2018-07-10 14:48] YacineGameDev commented on #29
is an updated release planned shortly?

[2018-09-12 10:38] ghost opened #37 "Missing null check on Canvas context"
Sometimes I get this error
`ERROR TypeError: "this._context is null"
_clearwebpack-internal:///../../../../ngx-gauge/ngx-gauge.es5.js:209:9_drawShellwebpack-internal:///../../../../ngx-gauge/ngx-gauge.es5.js:195:9animatewebpack-internal:///../../../../ngx-gauge/ngx-gauge.es5.js:296:13requestIDwebpack-internal:///../../../../ngx-gauge/ngx-gauge.es5.js:298:88invokeTaskwebpack-internal:///../../../..

[2018-09-20 21:02] YacineGameDev commented on #29
@isoengas I was implementing your solution when a mountain of errors appeared in my console :smile:.
I figured out where the error comes from but I am not sure about how to fix it.
Here is a stackblitz: https://stackblitz.com/edit/angular-qjrccv
There is one step to reproduce the issue: navigate quickly between the 2 tabs. you'll see the amount of errors at the bottom-right corner of the preview w

[2018-09-24 10:40] isoengas commented on #29
Resolved in the last version of my PR

[2018-11-15 14:41] jruizx opened #38 "Incompatible peer dependencies found"
I am trying to update angular version from 6 to 7. So I execute the following command:

ng update @angular/cli @angular/core

I receive an error saying Incompatible peer dependencies found.

                  Package "ngx-gauge" has an incompatible peer dependency to "@angular/core" (requires ">=6.0.0-rc.0 <7.0.0||>=4.3.6 <5.0.0||>=5.0.0 <6.0.0", would install "7.0.4").
                  Package "

[2018-11-16 04:33] ashish-chopra commented on #38
Thanks, @jruizx for reporting this. I have not tested ngx-gauge with angular 7. If you can do a sanity check and submit a pull request, I would love to merge. Since I can only start working on it after the end of my current academic term after 2nd week of December.

[2018-12-13 16:18] cristtopher commented on #38
Same problem to me. waiting for @ashish-chopra

[2018-12-25 07:47] ashish-chopra commented on #38
@jruizx and @cristtopher

The package has been updated to support angular 7. And the source code has also been upgraded to Angular CLI 7.
Download the latest release `1.0.0-beta.6` using npm install. Report any issue encountered.

Merry Christmas!
Ashish

[2018-12-25 07:47] #38 closed, assigned to nobody

[2018-12-25 09:38] ashish-chopra commented on #29
Hello Everyone,

I have gone through the conversations here and found that adding a new animation property is useful in crisis situations where you want to disable animation for bug or for any other reason.

Checkout the README, i have added `animate` property and disables the animation when this property is false. By default it is true. Update your package to 1.0.0-beta.7 to get these changes whi

[2018-12-25 09:41] ashish-chopra commented on #29
I didn't see the PR yet, but after reading the conversations, i realize you are trying to run `requestAnimationFrame` even in the background which actually kills the whole reason of using `requestAnimationFrame`. instead of using setTimeOut i used requestAnimationFrame because i do not want to run animation unnecessarily and block the browser resources for it.

[2018-12-25 18:25] ngx-developer commented on #38
Thanks @ashish-chopra .

[2019-01-08 12:22] isoengas commented on #29
No, my PR actualy does not change requestAnimationFrame for setTimeout... please  @ashish-chopra have a look at the code.

[2019-03-26 09:56] nsathya1990 opened #40 "Cannot read property 'clearRect' of undefined"
I am using ngx-gauge inside ngu-carousel.
I have made gauges inside carousel, which moves left and right. When the page loads for the first time, everything works perfectly. But, when I filter the carousel, I get errors relating to gauge.

ERROR TypeError: Cannot read property 'clearRect' of undefined
    at NgxGauge.push../node_modules/ngx-gauge/fesm5/ngx-gauge.js.NgxGauge._clear (ngx-gauge.js:32

[2019-03-26 12:34] PauloMarinho9 commented on #40
There is a pull request associated to this problem:

https://github.com/ashish-chopra/ngx-gauge/pull/39

[2019-03-26 13:00] nsathya1990 commented on #40
I couldn't understand this. I am little new to Angular. What I am supposed to do here? Could you please explain.
Am I suppose to update my ngx-gauge package?

[2019-03-26 13:00] nsathya1990 commented on #40
I couldn't understand this. I am little new to Angular. What I am supposed to do here? Could you please explain.

[2019-04-11 07:11] neilmaynard commented on #27
Hi! Any updates on adding ticks to the gauge anyone?

[2019-04-11 07:28] neilmaynard opened #41 "Adding ticks on the gauge"
I know this is somehow related to issue #27 almost a year ago but does anyone know how to add and display those ticks on the gauge to so it would look like the sample image below.

![2](https://user-images.githubusercontent.com/40382287/55938451-00239280-5c6e-11e9-957c-f84104409842.jpg)

[2019-04-18 09:22] Jay031 opened #42 "Min/Max gauge value doesn't work correctly after updating the value"
Hi all,

I use my gauge to let a user enter a number between i.e. 35 and 75.
The default value is 60 (which is on 50% of the gauge) this works.
After I put it on "61" the gauge fills up completely, it now responds to the difference of the min and max. as in: "75-35 = 40", the Gauge range now goes from 0-40 , so 40 - 75 is showing a full gauge. The ng-reflect-min / max and aria-valuemin are still 3

[2019-04-18 11:20] fernandocode commented on #42
You could add an example of your problem so that we can reproduce it to better understand. I created [this StackBlitz already with the ngx-gauge configured](https://stackblitz.com/edit/angular-j7c783?file=src%2Fapp%2Fapp.component.ts).

[2019-04-18 11:40] Jay031 commented on #42
Hi FernandoCode,

here's my example, simply click on the gauge to change the number to a random number of this array:
`const VALID_NUMBERS = [35,40,45,50,55,60,65,70,75];`

https://stackblitz.com/edit/angular-mtfgvu

***edit* I've edited it to change to 35 after each number to make it easier to test**

At first you wil see that '40' is almost at the beginning of the gauge (like 10-15%)
That's righ

[2019-04-18 14:44] fernandocode commented on #42
It really seems that there is a bug when using custom min and max, I tried to check here if I identified the problem but it seems to be something in the calculations, which I'm not aware of, let's see if the component author can verify. If I have time in the future I can try to look more calmly, but I'm fine. Or if you have priority over this try to check if you find the problem and send a PR.

[2019-04-20 13:52] rparakhiya opened #43 "Gauge line width resets on chart resize"
If gauge is resized once it rendered, it loses linewidth and linecap set.

Reproduction: https://codesandbox.io/s/zk03075y53

[2019-04-26 08:49] chaitanyaVadlamudi opened #45 "[aria-*] attributes do not match their roles"
When we run audits in chrome using light house, the score of acceessability decreasing because of aria attributes provided in ngx-gauge are mismatching. Can you please provide the correct aria attributes.

Thank you.

[2019-04-30 19:19] ashish-chopra commented on #45
Thanks @chaitanyaVadlamudi I will take this issue and support aria-attributes. Would it be possible for you to share what mismatch your system is reporting though?

[2019-05-02 05:25] chaitanyaVadlamudi commented on #45
![ngx-err](https://user-images.githubusercontent.com/20918310/57057751-c7a13280-6cc8-11e9-9221-57f3cbedfe07.JPG)
![ngx-err1](https://user-images.githubusercontent.com/20918310/57057761-d2f45e00-6cc8-11e9-8029-7fd097d8293e.JPG)

[2019-05-09 18:10] yancorrea1995 commented on #7
Hi.
This problem is present in Angular 7.3.1 with ngx-gauge@1.0.0-beta.7. Can you help me to fix this without remove the animation?

[2019-05-14 12:19] yancorrea1995 opened #46 "Bar redrawn to 0 if animation.duration is > 10 (ms)"
Hi!

Bar redrawn to 0 but the value is set. This problem only occurs if the animation is true and duration > 10 (ms). I want to use duration ~3000 (s3 seconds), but the bar is crashing. This problem is present in Angular 7.3.1 with ngx-gauge@1.0.0-beta.7. Can you help me to fix this without remove the animation?

Thanks!

[2019-05-21 18:29] RyanTibbetts-OnScale opened #47 "Thickness becomes super thin on resize, still. (With example)"
The chart thickness going thin/removing on dynamic resizing is not solved I think. Maybe this is on me, but I think this is not intended to happen.

https://codesandbox.io/s/angular-puvvt?fontsize=14

[2019-05-23 07:08] #19 closed, assigned to nobody

[2019-05-24 07:40] dombre77 opened #48 "Is it possible to remove the thousands separator (comma)"
Hello,
I use high values like 12000 sheets/hour in that gauge,but in Germany we use no thousands seperator or maybe a point instead the comma. Is it possible to select a point for separating or even remove that char? Thank you.

Regards, Dominik

[2019-05-24 12:16] fernandocode commented on #48
Hello,

If I understand your problem it is possible to work around using [Custom Directives for display text](https://github.com/ashish-chopra/ngx-gauge#custom-directives-for-display-text).

I created [this example to demonstrate](https://stackblitz.com/edit/angular-wec9de), if your problem is another, create an example to analyze better.

[2019-05-24 12:38] dombre77 commented on #48
Hello Fernando,
thank you for that solution, that was exactly what I needed.

Regards, Dominik

[2019-05-24 12:38] #48 closed, assigned to nobody

[2019-05-31 17:49] ashish-chopra commented on #20
Hello Everyone,

Sorry for delaying it due to some personal reasons. But I have looked into the issue and realized that the issue is due to no synchronization between two cycles that are going on in the background:
1. Change Detection Cycle of Angular
2. RequestAnimationFrame Cycle(loop)

The problem is, whenever the value of gauge changes, it triggers change detection and invokes `_create()` meth

[2019-05-31 17:57] ashish-chopra commented on #41
Closing it. Duplicate of #27

[2019-05-31 17:57] #41 closed, assigned to nobody

[2019-06-01 05:03] ashish-chopra commented on #20
Hello All,
The issue is fixed in the latest release v1.0.0-beta.8 here:
https://github.com/ashish-chopra/ngx-gauge/releases/tag/v1.0.0-beta.8

Please update your dependency. Open the issue, if the problem still persists.

[2019-06-01 05:03] #20 closed, assigned to nobody

[2019-06-01 05:04] ashish-chopra commented on #29
Hi @Observablerxjs,

Hello All,
The issue is fixed in the latest release v1.0.0-beta.8 here:
https://github.com/ashish-chopra/ngx-gauge/releases/tag/v1.0.0-beta.8

Please update ngx-gauge in your project and verify.

Thanks!

[2019-06-01 05:04] #29 closed, assigned to nobody

[2019-06-01 05:06] ashish-chopra commented on #40
@nsathya1990 The issue is fixed in current release v1.0.0-beta.8
Kindly update the library and verify. Feel free to open the issue, if the problem still persists.

[2019-06-01 05:06] #40 closed, assigned to nobody

[2019-06-01 05:07] ashish-chopra commented on #37
Hi @ghost

The issue is fixed in the current release v1.0.0-beta.8
Please update your dependency and feel free to open the issue if the problem still persists.

[2019-06-01 05:07] #37 closed, assigned to nobody

[2019-06-01 05:08] ashish-chopra commented on #46
@yancorrea1995 I have fixed the bar drawing issue #20 in current release v1.0.0-beta.8. Hopefully it has solved this issue too.

Kindly update your dependency and verify with the new release. Feel free to open if the issue still persists.

[2019-06-01 05:08] #46 closed, assigned to nobody

[2019-06-01 05:50] ashish-chopra commented on #34
Thanks @Observablerxjs!

[2019-06-01 05:50] #34 closed, assigned to nobody

[2019-06-01 05:52] ashish-chopra commented on #36
Kindly update the ngx-gauge to newest release v1.0.0-beta.8
I have fixed some issues with gauge drawing and animation code. This might fix the issue.

In case the issue still persists, feel free to reopen it.

[2019-06-01 05:52] #36 closed, assigned to nobody

[2019-06-01 06:32] ashish-chopra commented on #42
The issue has been identified and I am fixing it. I will make a new release this weekend with a fix. Thanks @Jay031 and @fernandocode

[2019-06-02 01:33] ashish-chopra commented on #45
The Issue has been fixed in version v1.0.0-beta.9. Also, two new aria attributes have been introduced, Please check README.

[2019-06-02 01:33] #45 closed, assigned to ashish-chopra

[2019-06-02 01:34] ashish-chopra commented on #42
@Jay031  and @fernandocode, The issue has been fixed in v1.0.0-beta.9
Please update your dependencies.

Thanks!

[2019-06-02 01:34] #42 closed, assigned to ashish-chopra

[2019-06-03 01:55] ashish-chopra commented on #43
Issue resolved in release v1.0.0-beta.10. Kindly update your package.json

[2019-06-03 01:55] #43 closed, assigned to ashish-chopra

[2019-06-03 01:56] ashish-chopra commented on #47
Hi @RyanTibbetts-OnScale The issue has been resolved in v1.0.0-beta.10 release.
Kindly update your dependency to the latest. Thanks!

[2019-06-03 01:56] #47 closed, assigned to ashish-chopra

[2019-06-03 02:19] ashish-chopra commented on #5
Hi @barretodaniel

I have tried reverse scale by swapping the values of min and max and gauge is working fine with reverse scale as well. In addition to it. Kindly check the feature and reopen the issue in case if you expected something different.

THanks!

[2019-06-03 02:19] #5 closed, assigned to nobody

[2019-06-07 16:15] RyanTibbetts-OnScale commented on #47
Thanks for the fix Ashish. Best gauge for angular right here buddy.

[2019-06-14 15:54] schneivo77 opened #49 "reading-label container overlaps elements below it (with example)"
Hi,

the reading-label div which is created by ngx-gauge when a label is used will overlap elements below it . As an example this results in buttons which are not clickable anymore. I made an example to show the behaviour I mean.

### Example:
https://codesandbox.io/embed/angular-vohdo

### Pictures from chrome dev tools

overlapped:

![overlapped_pic](https://user-images.githubusercontent.com/940

[2019-08-20 08:35] alecrt opened #50 "Angular 8+ peer dependencies fix"
Hi,

could you please fix the following warnings when using angular 8+:

[code]

Thank you!

[2019-08-20 13:13] amairose-papajohns commented on #18
This can be accomplished by binding the `size` attribute to a variable in your component, and setting that variable whenever the window is resized. See this StackBlitz for an example: https://stackblitz.com/edit/angular-xuxawy

[2019-08-22 17:56] ashish-chopra commented on #50
Sure, hopefully by the coming weekend it will be fixed. Thanks!

[2019-08-22 18:00] alecrt commented on #50
Great!

[2019-08-25 23:03] ashish-chopra commented on #50
This is fixed. Try new version 1.0.0-beta.11

[2019-08-25 23:03] #50 closed, assigned to ashish-chopra

[2019-08-29 21:08] gervasiocaj opened #51 "Cannot add the component to Angular 7 project"
When I added the dependency, the following error was displayed:
[code]

Looking at the declaration files of different versions of `@angular/core`, the exported members (such as `ɵɵDirectiveDefWithMeta`) at the mentioned `gauge-directives.d.ts` file did not exist before version 8.0.x.

https://github.com/angular/angular/blob/6.1.x/tools/public_api_guard/core/core.d.ts
https://github.com/angular/ang

[2019-08-30 18:27] ashish-chopra commented on #51
Hi @gervasiocaj

Can you please reproduce the issue and share on Stackblitz, because I need exact version details to start with.

[2019-09-11 05:11] RupinSahu commented on #51
**Same error**

[2019-09-12 07:45] sankhlepawan commented on #51
++ same issue tryinig to build app
 /node_modules/@angular/core/core"' has no exported member 'ɵɵDirectiveDefWithMeta'

i am using angular version 7.2.x

[2019-09-25 08:16] adithyakrishnan21 opened #53 "Gauge Label can be customised to the fore ground colour of the gauge"
When we customise the gauge to multiple colours based through the threshold functionality, there could also be a feature to add customise the colour of the gauge label to the fore ground colour of the gauge.

[2019-10-09 10:25] tjdiya commented on #51
same issue when trying to build app

[2019-10-09 21:09] exile79 commented on #51
had the same issue.
Using ngx-gauge@1.0.0-beta.7 worked (current version is beta11)

[2019-11-04 15:28] ly-cultureiq opened #55 "Npm package includes ivy compiled metadata - breaking ivy builds"
Hi,

The npm package for this project includes metadata from a compilation on angular 8.2 with ivy enabled. This causes any attempt to build with the angular9 next branch to fail with the error `This project was compiled with an earlier version of the ivy compiler - delete node_modules and try again`

Just a simple rebuild after `npm ci` and ivy settings turned off should fix the issue

[2019-11-05 09:42] ravikarthi opened #56 "has no exported member 'ɵɵDirectiveDefWithMeta'"
After integrating ngx-gauge library my app throws exception below

ERROR in node_modules/ngx-gauge/gauge/gauge-directives.d.ts(3,35): error TS2694: Namespace has no exported member 'ɵɵDirectiveDefWithMeta'.

Kindly guide me to solve this issue

[2019-11-05 19:26] ashish-chopra commented on #55
I will look into this issue during next weekend. However, if you know the fix, can you please post it here or send a pull request?

Thanks!

[2019-11-05 19:47] ly-cultureiq commented on #55
i dont htink there is any code fix - beyond upping the release number -
just run
`npm ci`
`npm run build:lib`
`npm run pack`
and upload the file in the dist folder
and as long as you dont have any changes from the code in this repo -  it should work perfectly
it seems the last time you ran that code there were changes to test ivy - and thats not in the current codebase.

[2019-11-05 19:48] ly-cultureiq commented on #55
i should mention to make sure to delete the current dist folder before running those commands

[2019-11-06 09:17] RichardBoyder commented on #56
This also happens to me... After updating to latest. Please help

[2019-11-08 09:54] RichardBoyder commented on #56
Hi guys any news on this?  @ashish-chopra

[2019-11-08 09:56] ashish-chopra commented on #56
Hi Richard,

I will look into this issue on weekend.

Hopefully will get some solution. But if you have a solution feel free to
send a PR.

Cheers
Ashish

On Fri., Nov. 8, 2019, 1:54 a.m. RichardB, <notifications@github.com> wrote:

[2019-11-08 10:12] RichardBoyder commented on #56
sure not a problem. thankyou again for you great plugin and all the hard work

[2019-11-08 18:52] ash-grennan commented on #55
Hi

Just adding that this is also breaking ivy builds too for my project

[2019-11-09 19:16] nfacha commented on #56
Also having this issues

[2019-11-14 07:23] akashsherkar commented on #56
Also having the same issue.
It's breaking my project which is about to go live.
Please help

[2019-11-20 09:22] favdev opened #58 "Renderer no longer in @angular/core package"
`import { SimpleChanges, Renderer, AfterViewInit, ElementRef, OnChanges, OnDestroy } from '@angular/core';
`

Looks like this breaks v9.0.0-rc.2 @angular/core

[2019-11-24 13:42] Mark0047 commented on #56
I am also having this issue

[2019-12-04 15:15] gb37064 commented on #56
Same issue.  Following this thread.  BTW I dropped back to the previous version for the time being. Fixed the issue, and my gauge works fine too.

[2019-12-05 11:12] hussambawwab opened #60 "rtl issue"

[2019-12-10 10:30] sreeyashu opened #61 "add Gradient in foreground"
While adding foreground value it is better to have an option to make it as a gradient.

[2019-12-11 16:27] qutayba commented on #56
Same here. I downgraded to the previous version 1.0.0-beta.10 and now its working.

[2019-12-18 15:48] Shadowzee commented on #56
Any lead on this? getting same issue.

[2019-12-18 15:49] Shadowzee commented on #56
Hi @qutayba  downgrading the version doesn't work for me!!

[2019-12-18 18:19] qutayba commented on #56
In my case downgrading was a fix for the error. I hope we get some updates about the issue soon.

[2019-12-20 06:41] Vallikannu-AR opened #62 "Gauge filling is not working"
- I created a separate component for this gauge graph. I'm calling this component via a selector in another component and I'm passing the value of the graph via Input "@Input() decorator".

` <app-gauge [gauge_value]="gauge_level"></app-gauge>`

- I'm using this selector 8 times in component. Gauge value is passed correctly but the filling inside the arc is not working for a few gauges. Is there a

[2020-01-06 16:42] fernandocode commented on #62
You could present it in simplified example [aqui](https://stackblitz.com/edit/angular-r4a7a4)

[2020-01-13 09:06] sateesh-hub opened #64 "How to add icon in middle of guage if value is 100% complete"

[2020-01-21 11:55] ankaufma opened #65 "ngx-gauge Angular 9 / Ivy ready?"
Today i tried to updated my project to angular 9/ivy rc.9.
`ng update @angular/core @angular/cli --next` worked fine and i did get a success message.
`ng build` didn't work and it breaks with:
[code]
There are much more other libraries involved but it points only to ngx-gauge.
As far as i understand it Angular/ngcc should substitute Renderer with Renderer2, but obviously it didn't. So is it a prob

[2020-01-21 13:58] fernandocode commented on #65
Possibly this incompatibility would be resolved with [this PR](https://github.com/ashish-chopra/ngx-gauge/pull/59/files), but it would have to be analyzed and accepted. (@ashish-chopra)

[2020-01-21 14:22] ankaufma commented on #65
@fernandocode you are right the PR solves this issue.
Meanwhile following powershell script does the job:

[code]
i put it as `powershell.exe -command ./ngxGauge4IvyCompiler.ps1` in the postinstall script section of package.json and now it works

[2020-01-21 23:19] ashish-chopra commented on #65
Thanks for the update @ankaufma and @fernandocode. I am going to activate this project again and spend some time on it in the coming few days and things will be fixed. @ankaufma, I am glad that you made a script that's a big lifesaver for people until I push commits in the main branch.

[2020-01-21 23:21] ashish-chopra commented on #60
I never had a need to support RTL. but can you specify a usecase how you want to use it in RTL? I mean how the prefix and suffix will behave in RTL scenario? Thanks!

[2020-01-22 15:22] gewubuntu opened #66 "is it possible to set the gaugeThreshold dynamically?"
Hi,

I want to set my gaugeThresholds dependent on a value from a REST-call.

I cannot figure out how to do so.

HTTP-Call:
`this.maxKwSubscription = this.getConfigService.getConfigEntries('MAXKW')
      .subscribe(
        (value) => {
          this.maxPower = value / 1000;
          this.gaugeAppendText = '/' + this.maxPower + ' kW';
          const orange = this.maxPower / 3;
          const r

[2020-01-22 15:48] #66 closed, assigned to nobody

[2020-01-22 15:49] gewubuntu commented on #66
sorry it works out of the box. didnt realize that

[2020-02-08 12:05] loveparmar3799 opened #67 "There was a issue in ngx-gauge with Angular 9 version ."
ERROR in ./node_modules/ngx-gauge/__ivy_ngcc__/fesm2015/ngx-gauge.js 535:144-152
"export 'Renderer' was not found in '@angular/core'
ERROR in ./node_modules/ngx-gauge/__ivy_ngcc__/fesm2015/ngx-gauge.js 607:12-20
"export 'Renderer' was not found in '@angular/core'
ERROR in ./node_modules/ngx-gauge/__ivy_ngcc__/fesm2015/ngx-gauge.js 651:67-75
"export 'Renderer' was not found in '@angular/core'

[2020-02-10 11:14] fernandocode commented on #67
@loveparmar3799 ,

I think the problem is with the update of Renderer2, which will be solved with [this PR](https://github.com/ashish-chopra/ngx-gauge/pull/59#issue-343270228).

There is also [this powershell script](https://github.com/ashish-chopra/ngx-gauge/issues/65#issuecomment-576703563) that can be used to make the correction while the PR is not accepted.

[2020-02-10 17:55] Brachacz commented on #67
+1 would love to see that merged

[2020-02-11 01:31] ashish-chopra commented on #51
In order to run ngx-gauge with Angular version 7, ngx-gauge@1.0.0-beta.10 works fine.

[2020-02-11 01:31] #51 closed, assigned to nobody

[2020-02-11 06:12] ashish-chopra commented on #55
ngx-gauge@1.0.0-beta.12 can be build with Ivy now with an 8.0.0 version but not yet upgraded to v9.

[2020-02-11 06:12] #55 closed, assigned to nobody

[2020-02-11 06:22] ashish-chopra commented on #56
Hello All,

I am not able to reproduce this error, for me, it is working fine. Kindly share details to reproduce the error. However, I have published v1.0.0-beta.12 which removed Ivy compiled files from the build, but not sure if that fixed this issue or not. Let me know, or I will close this issue.

[2020-02-11 06:24] ashish-chopra commented on #58
it's not yet Angular 9 compatible. I will be releasing v9 compatible version shortly.

[2020-02-11 06:39] ashish-chopra commented on #64
You can use `<ngx-gauge-label>` instead of "label" attribute to do custom display of icons in the label field and use any logic to display.

For example:

[code]

The new label will be visible only when `currentValue` is `100`, otherwise, the default label is shown. In your case replace new label with the icon.

[2020-02-11 06:39] #64 closed, assigned to nobody

[2020-02-11 06:42] ashish-chopra commented on #62
@Vallikannu-AR Please share more details by reproducing the issue on stackblitz. Thanks!

[2020-02-11 10:21] jkzlouw commented on #67
Agreed with WojciechSlyp - change references to Renderer2 for clean compile, but now have run-time errors on usage of ngx-gauge.

[2020-02-14 04:44] #56 closed, assigned to nobody

[2020-02-14 07:53] ashish-chopra commented on #58
Angular 9 compatible version released. Use v1.0.0 or later for Angular 9. Thanks!

[2020-02-14 07:53] #58 closed, assigned to nobody

[2020-02-14 07:56] ashish-chopra commented on #67
Thank you everyone for submitting the workaround before me accepting the PR. Sorry for the delay. Since now Angular 9 is out, I have upgraded it to angular 9, download the latest version `v1.0.0` (no beta) for Angular 9. I will publish new minor releases with additional issue fixes in the coming days.

[2020-02-14 07:56] #67 closed, assigned to nobody

[2020-02-14 07:57] ashish-chopra commented on #65
I have released Angular 9 version of ngx-gauge `v1.0.0` (no beta now). Kindly update your dependencies and try it and let me know if you face any errors.

[2020-02-14 07:57] #65 closed, assigned to ashish-chopra

[2020-02-15 06:08] ashish-chopra commented on #18
Closing this issue as we can acheive it with existing configuration as pointed in the stackblitz. Thanks @amairose-papajohns

[2020-02-15 06:08] #18 closed, assigned to nobody

[2020-02-15 06:53] ashish-chopra commented on #49
The PR has been merged and this issue is fixed. Please update to v1.1.0 compatible with angular 9 to get the fixes. Thanks!

[2020-02-15 06:53] #49 closed, assigned to nobody

[2020-02-18 13:38] AdnanSantoos opened #68 "Error in angular 8"
ERROR in node_modules/ngx-gauge/gauge/gauge.d.ts:24:9 - error TS1086: An accessor cannot be declared in an ambient context.

24     get size(): number;
[code]
node_modules/ngx-gauge/gauge/gauge.d.ts:26:9 - error TS1086: An accessor cannot be declared in an ambient context.

26     get min(): number;
[code]
node_modules/ngx-gauge/gauge/gauge.d.ts:28:9 - error TS1086: An accessor cannot be declared

[2020-02-19 21:52] ashish-chopra commented on #68
I think you are using the latest version of ngx-gauge which is upgraded to Angular 9, therefore, it is throwing error, because Angular 9 and 8 has breaking changes. Please use ngx-gauge@1.0.0-beta.12 which is for Angular 8. I will add a compatibility matrix in the README shortly. Thanks!

[2020-02-23 15:03] AdnanSantoos commented on #68
thanks, it worked, i had used ngx-gauge@1.0.0-beta.13

[2020-02-23 15:03] #68 closed, assigned to nobody

[2020-03-09 05:55] barelabs opened #70 "Arrow pointer?"
Hi, thanks for having such an awesome project.  I'm just wondering, do you have any functionality where an arrow can point to the value, such as the arrow in a speedometer.  Thanks so much,

Tim

[2020-03-10 15:32] Corebee opened #71 "Free re-positioning of Value/Label"
I would really appreciate it, if there would be the possibility to position the value and label by some  custom CSS. I recently tried to, but i can't override the style in the div class "reading-block" (probably because of encapsulation?).
One way to get a workaround, would be to overwrite the class in the global style file, which then affects every instance of ngx-gauges. So this wasn't the appro

[2020-03-13 21:00] silo opened #72 "Not working with angular 8"
Hi
I have installed 1.0.0-beta.13 ( actually tested them all ) but i get the errors below

[code]

The angular version i use :

[code]

i have imported the module to app.module, just to be clear :)

What do you i have done wrong here?

Thank you

[2020-03-16 13:32] silo commented on #72
Okay, i solved it.
I had to import it on the component where i use it. In my case it was home.module.ts
and it look like this:

[code]

[2020-03-16 13:32] #72 closed, assigned to nobody

[2020-03-16 13:58] eickhardt opened #74 "Is it possible to have the line not be drawn at all when the value is zero?"
Currently i get a small line even at zero. Would be nice to only have the gray background.

[2020-04-01 13:38] jenil777007 commented on #68
@ashish-chopra, [npm package link](https://www.npmjs.com/package/ngx-gauge) mentions ngx-gauge@v1.0.0-beta.13 version as a recommended version to use in Angular 8, while beta.12 solves this problem.

[2020-04-15 10:43] bilalsha commented on #68
Its not working on angular 8.2.14. Getting same issue

[2020-04-30 05:00] silambarasan-r commented on #61
I need the same requirement. Anyone in this room, answer this question!?

[2020-05-08 10:52] HemaVSitaram opened #76 "Can we have legends for guage"

[2020-06-24 10:11] GMAkshayBhat commented on #40
**@ashish-chopra** I have updated the library to v1.0.0-beta.8 but also getting same error,can u help me out

[2020-07-21 03:43] vitorfiler opened #80 "Number format pt-br"
Example
as wish: 10.000,95.

how is 10,000.95

replace does not work

it's possible?

[2020-08-14 07:30] mschuch commented on #62
@ashish-chopra
I have the same issue, when I update the value dynamically  the gauge value gets updated but the gauge bar is not drawn at all. It disappears.

[Update]
But this happens only if you messed around with the gauge Value. In my example I had an undefined for the value and after that it set a correct number. Only in this case it happens.

[2020-08-26 12:08] namdao2000 commented on #70
This!

[2020-09-08 14:02] rahulmohang opened #83 "Source code for version ngx-guage 1.0.0-beta.13"
Dear team,

Can you please let me know where I could find source code for the version 1.0.0-beta.13?

Regards,
Rahul

[2020-09-11 10:08] sw-dev-code opened #84 "Error with Angular 8.0.0 usign ngx-gauge 1.0.0-beta.13"
I'm getting the following error log:

`ERROR in ../node_modules/ngx-gauge/gauge/gauge.d.ts:22:9 - error TS1086: An accessor cannot be declared in an ambient context.

22     get size(): number;
[code]
../node_modules/ngx-gauge/gauge/gauge.d.ts:24:9 - error TS1086: An accessor cannot be declared in an ambient context.

24     get min(): number;
[code]
../node_modules/ngx-gauge/gauge/gauge.d.ts:26:9

[2020-09-18 21:16] sw-dev-code commented on #84
The issue was with project dependencies. The gauge include was not in the right .module.ts file

[2020-09-18 21:16] #84 closed, assigned to nobody

[2020-09-18 22:43] sw-dev-code opened #85 "Semi gauge is consuming space like Full gauge."
When I use Semi gauge there is empty space below like in the case when Full gauge is used. Is there a way to remove this empty space? The issue I'm reporting can be seen from the example picture at https://github.com/ashish-chopra/ngx-gauge

[2020-09-26 19:26] VladFlorian commented on #71
I was able to achieve this by adding some styling to my main global.scss and it looks like this
`ngx-gauge div.reading-block {
  margin-top: -70px;
  font-size: 80px !important;
  transform: translateY(87.36px);
}
`

[2020-09-30 20:25] Corebee commented on #71
Thanks for your reply, but that was exactly the solution i'm not looking for as you can see in my previous post. The reason: With global styling you overwrite every instance of the gauge... but i need it especially for specific ones.

[2020-10-04 23:55] RezaRahmati opened #86 "Text size issue"
Hi there

I see texts cropped, is there any mis configuration on my side or it's a defect.

`		<ngx-gauge type="arch"
				   [value]="value"
				   label="Match %"
				   cap="round"
				   [thick]="6"
				   append="%"
				   [animate]="false">
		</ngx-gauge>
`

![image](https://user-images.githubusercontent.com/10086092/95030140-83fbe680-067b-11eb-8e6a-ff5c7705d046.png)

[2020-10-19 08:04] MaximilianMain opened #87 "Uncaught Error at onDestroy"
In our application we get in some cases an uncaught error from ngx-gauge:
ERROR TypeError: Cannot read property 'clearRect' of undefined
    at NgxGauge._clear (vendor.js:82965)
    at NgxGauge._destroy (vendor.js:82999)
    at NgxGauge.ngOnDestroy (vendor.js:82930)
    at executeOnDestroys (vendor.js:136785)
    at cleanUpView (vendor.js:136709)
    at destroyViewTree (vendor.js:136535)
    at de

[2020-11-02 16:14] sarathi0333 opened #88 "Feature Request"
Hi,

Does ngx-guage supports a range of value as input similar to [https://roundsliderui.com/demos.html#events](url). Whether the slider can be dragged both the direction.

Thanks

[2020-11-05 11:51] AndrewBotsulyak commented on #80
@vitorfiler
you can customize value as you want
`
<ngx-gauge>
  <ngx-gauge-value>
      {{value}}
    </ngx-gauge-value>
</ngx-gauge>
`
So its not a problem!

[2020-12-02 16:50] lumyus commented on #86
I got the same issue

[2020-12-07 17:31] sinasalek opened #89 "Angular 11 support?"

[2020-12-16 14:30] grunk commented on #89
It works fine for me under angular 11.0.4. I just add to `--force` the angular update.

Updating the peerDependencies should be enough to make this lib 11 compatible.

[2020-12-29 06:56] rashmisnskills opened #90 "not able to give threshold"
Hi Team,
 Im trying to implement angular guage, but im not able to add threshold.
$scope.threshold = {
                    '0': {color: 'green'},
                    '40': {color: 'orange'},
                    '75.5': {color: 'red'}
                  };
<ng-gauge size="150" type="arch" thick="20"
                    min="0" max="120" value="remainingDays"
                    cap="round" label="Sp

[2021-01-08 17:40] Tyrannmisu commented on #86
I also got the same issue with  angular 11.0.3 and ngx-gauge 1.1.1

[2021-01-22 10:45] i1zivkovic opened #91 "Unable to dynamically change foreground color"
If the **[value]** property doesn't change then the **foreground** color stays the same.

In the simple example below, on the button click, the foreground stays at the #008888 even though the ng-reflect data is changed to '#000000' when I look in the browser console.

This causes problems because I use it to display negative data with red color and positive data with green color. I use the absolut

[2021-02-04 16:33] bastifix commented on #71
Same here: +1

[2021-02-05 04:04] id1945 opened #92 "."

[2021-02-08 04:51] #92 closed, assigned to nobody

[2021-02-08 20:19] ashish-chopra commented on #92
Hi There,

Thanks for your email. Currently, I am very busy finishing my current
project.
Around the end of February, I will reactivate the next-gauge and fix issues
and incorporate feature requests.

Kindly open an issue on it if you have something in mind, I will check back
shortly.

Regards
Ashish

On Thu, Feb 4, 2021 at 8:04 PM DaiDH <notifications@github.com> wrote:

[2021-02-08 20:20] ashish-chopra commented on #91
Hi There,

Thanks for reporting the issue. Currently, I am very busy finishing my current project.
Around the end of February, I will reactivate the next-gauge and fix issues and incorporate feature requests.

Cheers
Ashish

[2021-02-08 20:22] ashish-chopra commented on #71
Hi There,

Thanks for reporting the issue and sorry for the extremely late response. Currently, I am very busy finishing my current project.
In the last week of February 2021, I will reactivate the ngx-gauge and fix issues and incorporate feature requests.

Cheers
Ashish

[2021-02-16 07:33] AdamAnsari opened #93 "Load time"
Gauge takes 4-5 seconds to load. Anyone have any suggestions would be appreciated

[2021-03-19 22:46] ashish-chopra commented on #70
Hi All,

Arrow pointer is not in the roadmap for this gauge and does not comply with the user experience of this library.

[2021-03-19 22:46] #70 closed, assigned to nobody

[2021-03-19 22:48] ashish-chopra commented on #83
It was somewhere between 1.0.0-beta.11 and 1.1.0 release. The tagging wasn't done for it, however, if you want you can pull out a branch from the commit. Checkout the commit history for that.

[2021-03-19 22:48] #83 closed, assigned to nobody

[2021-03-19 23:41] #76 closed, assigned to nobody

[2021-03-19 23:42] ashish-chopra commented on #74
More information required. Currently, the line is not drawn when the value is zero. If you find an issue with this behavior, kindly raise another issue with more information to reproduce the issue.

[2021-03-19 23:42] #74 closed, assigned to nobody

[2021-03-19 23:43] #80 closed, assigned to nobody

[2021-03-19 23:45] ashish-chopra commented on #86
I am in the process of upgrading the library with Angular 11.0. I will look into it. Thanks!

[2021-03-23 03:47] ashish-chopra commented on #90
Hi, Please follow [this](https://github.com/ashish-chopra/ngx-gauge#configure-threshold-color-ranges) section in the README.

[2021-03-23 03:47] #90 closed, assigned to nobody

[2021-03-23 04:00] ashish-chopra commented on #91
The best way to change the foreground color is to use `thresholds` attribute of `<ngx-gauge></ngx-gauge>`. Check out [this](https://github.com/ashish-chopra/ngx-gauge#configure-threshold-color-ranges) section in the README to learn more.

For your case it will be like this:

[code]

[2021-03-23 04:00] #91 closed, assigned to nobody

[2021-03-23 04:46] ashish-chopra commented on #89
Updated for Angular 11 in ngx-gauge@3.0.0. Kindly update.

[2021-03-23 04:46] #89 closed, assigned to nobody

[2021-03-23 04:51] ashish-chopra commented on #88
Thanks for sharing the idea. `ngx-gauge` is a presentational component that is used to display some value in dial format. However, the round slider like feature to drag the slider to both direction is a user input component which is not what ngx-gauge is designed for. Therefore, this feature does not apply to ngx-gauge.

[2021-03-23 04:51] #88 closed, assigned to nobody

[2021-03-23 04:52] ashish-chopra commented on #93
Kindly reproduce the issue using stackblitz and open the issue again. With current information, it is not easy to reproduce what makes the gauge to take 4-5 seconds to load.

[2021-03-23 04:52] #93 closed, assigned to nobody

[2021-03-23 04:57] ashish-chopra commented on #86
`ngx-gauge` is upgraded for angular 11.x.x and I tried the code on my side and it works fine. Please update the library and try it on an empty project with the ngx-gauge code only. If it works fine and still gives you issue in your project code, then it must be some font-size or CSS styling which is messing it up. Kindly share your CSS styling or font-sizing details and re-open the issue.

[2021-03-23 04:57] #86 closed, assigned to nobody

[2021-04-22 15:24] Sephy42 opened #97 "foregroundColor attribute changes don't refresh the view"
Hello,
I need to refresh all the page to reload the display of the gauge when there are changes on the foregroundColor attribute. Do I miss something ?

Minimal example here : https://stackblitz.com/edit/ngx-gauge-issu?file=src%2Fapp%2Fapp.component.html

[2021-06-04 09:37] reto88 opened #100 "value is cutting off"
The value in the middle of the chart doesnt fit. How can I change the size?
 "ngx-gauge": "^3.0.0",
"@angular/cli": "~11.2.3",
![image](https://user-images.githubusercontent.com/25948008/120781202-1e713a00-c529-11eb-98ca-874eb466adaf.png)

[2021-06-10 11:23] andreas-becker commented on #100
Quickfix: In your css override the css  `.reading-block { overflow: visible; }` to see it without the cutted head

[2021-06-18 22:34] DJFriar commented on #3
Has there been any progress on this? Looks like the demo is still broken.

[2021-06-25 14:39] Fallaxe commented on #100
i tried to override the overflow with '!important' but it doesn't solve anything

[2021-08-06 09:29] enlight3d commented on #27
Hello, any plans on adding the ticks ? I've searched for another library in the meantine and I can't find one that looks as clean as this one...

[2021-08-25 07:48] chrisvelevitch opened #104 "Overlap problem has returned with Angular v12.2.2"
The bug reported in issue #49 has returned when using ngx-gauge v4.0.0 with Angular v12.2.2.

[2021-08-29 07:04] Tanaka86 commented on #61
Did someone manage to add gradient to foreground color ?

[2021-09-01 14:24] chrisvelevitch commented on #104
When I updated from v3 to v4, I didn't realise the previous developer had overridden the `ngx-gauge` specific `css` definitions. So it's not an issue.

[2021-09-01 14:24] #104 closed, assigned to nobody

[2021-09-04 17:40] ashish-chopra commented on #3
Hello All, I have finally uploaded the website with demos and playground section (thanks to @pixelsyndicate). Please check that out.
@pixelsyndicate I have cited you in the footer of the website for your contribution. thank you!

Cheers
Ashish

[2021-09-04 17:40] #3 closed, assigned to nobody

[2021-09-04 17:42] ashish-chopra commented on #53
I think it can be acheived if you use `<ngx-gauge-label></ngx-gauge-label>` tag and add custom class to it to add color which can change based on the value of the gauge for which a small logic can be written in TS.

[2021-09-04 17:42] #53 closed, assigned to nobody

[2021-10-16 17:45] juansebasoz commented on #100
Same issiue with 4.0.0. I'm using bootstrap for grid layout

[2022-01-28 21:05] megazordy commented on #100
I also tried this solution but nothing works.

Has anyone found a solution to this problem?
I'm using v4.

[2022-01-28 21:16] megazordy commented on #100
I was able to solve the problem by adding the modification of the class directly in the application's index.html file, placed in the necessary css header as:

`<html>
   <header>
      <style>.reading-block { overflow: visible !important; }</style> <-------------------
   </header>
   <body>
   </body>
</html>`

[2022-05-12 08:51] heja99 opened #122 "Type 'string' is not assignable to type 'number'"
Hello all,

I'm trying to use the ngx-gauge in one of my Angular projects. I installed, imported and used the gauge as shown in the documentation. Unfortunately I'm not able to get it to work, because no matter what gauge code example I'm using, I get errors like the following: **TS2322: Type 'string' is not assignable to type 'number'.** `<ngx-gauge value="68.2"></ngx-gauge>`

Is there somehting

[2022-05-12 10:10] heja99 commented on #122
Could solve the issue by adressing the type like so: ` gaugeType = "arch" as NgxGaugeType;`

[2022-05-12 10:10] #122 closed, assigned to nobody

[2022-05-12 10:13] heja99 commented on #100
@willflame @andreas-becker Hey, I got the same issue and thanks to your comment I could fix it. But I also got the same problem in another are, as you can see in the screenshot (the 50 is cut off):
<img width="101" alt="image" src="https://user-images.githubusercontent.com/62422524/168048181-a2a1eeb7-6fbd-4215-beb3-e70f0ef82d7d.png">

Would you be able to tell me what css-class this is? Then I cou

[2022-06-16 11:12] monika-pal opened #123 "I want to change the marker label color to white"

[2022-06-20 05:56] chriga-arch opened #124 "Markers cut off and look pixelated"
![image](https://user-images.githubusercontent.com/39295908/174534336-8f7e7179-6065-416c-b8d0-dde24a95550d.png)

Unfortunately, in the current version 5.0.0, the markers are cut off at the top/bottom and side edges and appear pixelated

[2022-07-07 18:17] ragse opened #125 "Change the value draging the needle pointer"
Hey, I was checking this cool module but i notice that we can move the needle to set a new value, is it possible to implement this new feature?

[2022-08-03 11:57] danielehrhardt opened #126 "Angular 14 Support"
Can you update your package json to support angular 14 without using --force

[2022-08-03 16:59] ashish-chopra commented on #126
Hi Daniel,
I will do that this weekend.

Thanks
Ashish

On Wed, Aug 3, 2022 at 4:57 AM Daniel Ehrhardt ***@***.***>
wrote:

[2022-08-14 19:12] marcellkiss commented on #126
Please do that, thanks :)

[2022-08-17 23:16] ashish-chopra commented on #126
Done. I haven't done extensive testing. If anything appears raise an issue.

Thank you!

[2022-08-17 23:16] #126 closed, assigned to nobody

[2022-09-06 07:29] homiodev commented on #123
According to code https://github.com/ashish-chopra/ngx-gauge/blob/32d07601c458b31963317fa3ed4b21b438d7bdf2/projects/ngx-gauge/src/gauge/gauge.ts#L320
Selected color applied if select triangle type, but for 'line' type foreground color not applied

[2022-11-08 23:26] DrakeAnglin opened #127 "Cap round with thresholds dont work on one side."
when added a threshold to a gauge one side is "round" and the other is "butt"

I am using version 6.0.0

![image](https://user-images.githubusercontent.com/37958526/200697674-d403c04a-38f1-46b9-8ced-00054f4634b3.png)

[2022-11-08 23:31] DrakeAnglin opened #128 "Marker dont render correctly when using a min value"
i have a gauge that the min is 99 and the max is 100. I set the marker to show at 99.5, however the marker displays at the end of the gauge instead of the middle where you would expect it.

[2022-11-10 12:58] SteveRosam opened #130 "Any idea why it's displaying like this?"
![image](https://user-images.githubusercontent.com/100689438/201097330-d0112d37-613f-42a4-b7ab-9b24bf5eb661.png)

I want to have the text inside not cut off and there is a wierd segment missing when the number is below -0.3 ish

the scale is -1 to 1